<h1>{{ pageTitle }}</h1>
<p @saleTrigger *ngIf="status != 'success'">Modifica tus datos de usuario</p>

<!--<div class="alert alert-success col-md-6 offset-md-3" @entraTrigger *ngIf="status == 'success'">
  El registro se ha completado satisfactoriamente. <a [routerLink]="['/login']">Logeate aqui.</a>
</div>
<div class="alert alert-danger col-md-6 offset-md-3" @entraSaleTrigger *ngIf="status == 'error'">
  El registro no se ha podido completar.
</div>-->

<form class="col-md-6 offset-md-3" [formGroup]="formularioEditar" (ngSubmit)="onSubmit()" @saleTrigger
      *ngIf="status != 'success'">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text"
           name="name"
           id="name"
           class="form-control"
           placeholder="Escriba su nombre..."
           aria-describedby="Su nombre"
           formControlName="name"
           required
           minlength="3">
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="invalid-feedback d-block">

      <p *ngIf="name.errors.required">
        El nombre es requerido.
      </p>
      <p *ngIf="name.errors.minlength">
        El nombre tiene que tener como minimo 3 caracteres.
      </p>
      <p *ngIf="name.errors.pattern">
        El nombre no puede contener numeros.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="surname">Apellidos</label>
    <input type="text"
           name="surname"
           id="surname"
           class="form-control"
           placeholder="Escriba su nombre..."
           aria-describedby="Su apellido"
           formControlName="surname"
           required
           minlength="3">
    <div *ngIf="surname.invalid && (surname.dirty || surname.touched)"
         class="invalid-feedback d-block">

      <p *ngIf="surname.errors.required">
        El apellido es requerido.
      </p>
      <p *ngIf="surname.errors.minlength">
        El apellido tiene que tener como minimo 3 caracteres.
      </p>
      <p *ngIf="surname.errors.pattern">
        El apellido no puede contener numeros.
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email"
           class="form-control"
           id="email"
           aria-describedby="emailHelp"
           placeholder="Escriba su email..."
           formControlName="email"
           required
           minlength="11">
    <small id="emailHelp"
           class="form-text text-muted">No compartiremos su email con terceros
    </small>

    <div *ngIf="email.invalid && (email.dirty || email.touched)"
         class="invalid-feedback d-block">

      <p *ngIf="email.errors.required">
        El email es requerido.
      </p>
      <p *ngIf="email.errors.minlength">
        El email tiene que tener como minimo 11 caracteres.
      </p>
      <p *ngIf="email.errors.pattern">
        El email tiene que tener un formato valido.
      </p>
    </div>

  </div>

  <div class="form-group">
    <label for="image">Imagen</label>
    <input type="text"
           name="image"
           id="image"
           class="form-control"
           placeholder="Suba su imagen..."
           aria-describedby="Su Biografia"
           formControlName="description"
           required
           minlength="3">
    <!--    <div *ngIf="description.invalid && (description.dirty || description.touched)"-->
    <!--         class="invalid-feedback d-block">-->

    <!--      <p *ngIf="description.errors.required">-->
    <!--        El apellido es requerido.-->
    <!--      </p>-->
    <!--      <p *ngIf="description.errors.minlength">-->
    <!--        El apellido tiene que tener como minimo 3 caracteres.-->
    <!--      </p>-->
    <!--      <p *ngIf="description.errors.pattern">-->
    <!--        El apellido no puede contener numeros.-->
    <!--      </p>-->
    <!--    </div>-->
  </div>

  <div class="form-group">
    <label for="description">Descripcion</label>
    <input type="text"
           name="description"
           id="description"
           class="form-control"
           placeholder="Escriba su Biografia..."
           aria-describedby="Su Biografia"
           formControlName="description"
           required
           minlength="3">
    <!--    <div *ngIf="description.invalid && (description.dirty || description.touched)"-->
    <!--         class="invalid-feedback d-block">-->

    <!--      <p *ngIf="description.errors.required">-->
    <!--        El apellido es requerido.-->
    <!--      </p>-->
    <!--      <p *ngIf="description.errors.minlength">-->
    <!--        El apellido tiene que tener como minimo 3 caracteres.-->
    <!--      </p>-->
    <!--      <p *ngIf="description.errors.pattern">-->
    <!--        El apellido no puede contener numeros.-->
    <!--      </p>-->
    <!--    </div>-->
  </div>


  <button type="submit"
          class="btn btn-primary my-3"
          [disabled]="!formularioEditar.valid">Guardar
  </button>
</form>
